.top-bar {
  background-color: #284f9e;
  color: #fff;
  font-size: 16px;
  padding: 8px 0px 8px;
}

.top-bar .profile {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  text-decoration: underline;
}

.header .title {
  font-size: 23px;
  font-weight: 400;
}